:root {
  --light-color: #fff;
}

body {
  font: normal 20px Arial;
}

header {
  color: var(--light-color);
  text-align: center;
}

section {
  background: var(--light-color);
  border-radius: 10px;
  padding: 15px;
  max-width: 400px;
  width: 400px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div {
  text-align: center;
  padding: 8px;
}

img {
  border-radius: 50%;
}

footer {
  color: var(--light-color);
  text-align: center;
  font-style: italic;
}

footer p > a {
  color: var(--light-color);
}

@media screen and (max-width: 576px) {
  section {
    max-width: 300px;
    width: 300px;
  }

  img {
    width: 250px;
    margin: auto;
  }
}
